.container {
    max-width: 400px;
    margin: 10vh auto 0 auto;
    box-shadow: 0px 0px 43px 17px rgb(199, 4, 4);
}

#display {
    text-align: right;
    height: 70px;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 25px;
}

.buttons {
    display: grid;
    border-bottom: 1px solid rgb(150, 179, 32);
    border-left: 1px solidrgb(140, 228, 15);
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.buttons > div {
    border-top: 1px solid #999;
    border-right: 1px solid#999;
}

.button {
    border: 0.5px solid #999;
    line-height: 100px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}

#equal {
    background-color: rgb(67, 174, 5);
    color: rgb(108, 4, 4);
}

.button:hover {
    background-color: #db2c05;
    color: rgb(67, 174, 5);
    transition: 0.5s ease-in-out;
    
}
